[General]
#General Configuration
#The main tag used to identify Auto-Pocket content
Auto-Pocket-Tag = Auto-Pocket
#Tag to be given to articles uploaded via command line
cli_tag = CLI-Upload
#Delete cli uploaded articles older than 1 day
cli_delete_after = 14


#[ArtOfManliness]
url = https://www.artofmanliness.com/feed/
#Delete articles older than 1 day
delete_after = 14 
# Add all articles from the past 1 day
days_to_add = 7
# RSS feed special tag. 
tag = AoM

#[Inhabitat]
#url = https://inhabitat.com/feed
#delete_after = 14
#days_to_add = 7
#tag = Inhabitat

[SierraClub]
url = https://www.sierraclub.org/sierra/rss.xml
delete_after = 14
days_to_add = 7
tag = SierraClub

[EcoFriend]
url = https://ecofriend.org/feed/
delete_after = 14
days_to_add = 7
tag = EcoFriend

[RestOfWorld]
url = https://restofworld.org/feed/
delete_after = 14
days_to_add = 7
tag = RestOfWorld

